{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "extends": "airbnb",
  "plugins": [
    "react",
    "import",
    "ejs-js"
  ],
  "rules": {
    "arrow-body-style": "off",
    "arrow-spacing": "warn",
    "strict": "off",
    "comma-dangle": "off",
    "curly": ["warn", "all"],
    "no-underscore-dangle": "off",
    "consistent-return": "off",
    "global-require": "off",
    "no-nested-ternary": "warn",
    "new-cap": "off",
    "no-undef": "error",
    "valid-jsdoc": "error",
    "no-unneeded-ternary": "warn",
    "no-empty-pattern": "error",
    "no-param-reassign": "off",
    "no-spaced-func": "warn",
    "keyword-spacing": "warn",
    "space-before-blocks": "warn",
    "object-curly-spacing": ["warn", "always"],
    "object-shorthand": "warn",
    "jsx-quotes": ["warn", "prefer-double"],
    "no-var": "warn",
    "no-mixed-operators": "off",
    "no-console": "off",
    "no-confusing-arrow": "off",
    "no-multiple-empty-lines": ["warn", { "max": 1 }],
    "no-unused-expressions": "off",
    "max-len": ["warn", 400, 2],
    "padded-blocks": "off",
    "prefer-const": "warn",
    "radix": "warn",
    "space-before-function-paren": ["warn", { "anonymous": "always", "named": "ignore", "asyncArrow": "ignore" }],
    "import/export": "error",
    "import/imports-first": "error",
    "import/named": "error",
    "import/namespace": "off",
    "import/no-duplicates": "error",
    "import/no-extraneous-dependencies": "off",
    "import/no-named-as-default": "off",
    "import/no-unresolved": "off",
    "import/prefer-default-export": "off",
    "linebreak-style": 0,
    "arrow-parens": 0,
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "semi": ["error", "always"],
    "react/jsx-indent": 0,
    "react/jsx-indent-props": 0,
    "react/forbid-prop-types": "off",
    "react/jsx-boolean-value": "warn",
    "react/jsx-no-bind": "off",
    "react/jsx-no-undef": "warn",
    "react/jsx-space-before-closing": "off",
    "react/jsx-uses-react": "warn",
    "react/jsx-uses-vars": "warn",
    "react/jsx-filename-extension": "off",
    "react/jsx-first-prop-new-line": "off",
    "react/jsx-closing-bracket-location": "off",
    "react/no-did-mount-set-state": "off",
    "react/no-did-update-set-state": "warn",
    "react/no-multi-comp": ["warn", { "ignoreStateless": true }],
    "react/no-unknown-property": "warn",
    "react/no-unused-prop-types": ["error", { "skipShapeProps": true }],
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "error",
    "react/require-extension": "off",
    "react/self-closing-comp": "warn",
    "react/prefer-stateless-function": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/img-has-alt": 0
  }
}
